*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100vmax;
    height: 100vmax;
    overflow: hidden;
}
.container{
    width: 100vmax;
    height: 51vmax;
    background: linear-gradient(to bottom, #00416A, #E4E5E6);
}
.container h2{
    text-align: center;
    color: white;
    font-weight: 400;
}
.innerContainer{
    width: 30vmax;
    min-height: 30vmax;
    /* background-color: red; */
    transform: translate(35vmax, 2vmax);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.searchBar{
    width: 17vmax;
    height: 2.5vmax;
    outline: none;
    border: none;
    border-radius: .2vmax;
    padding: .5vmax;
    font-family: 'Roboto';
    font-weight: 600;
    margin-bottom: 0.2vmax;
}
.searchDrop{
    width: 17vmax;
    min-height: 2.5vmax;
    max-height: 30vmax;
    overflow-y: auto;
    border-radius: .2vmax;
    background-color: white;
}
.searchDrop p{
    width: 17vmax;
    height: 2.5vmax;
    display: flex;
    align-items: center;
    padding-left: 1vmax;
    font-family: 'Roboto';
    font-weight: 400;
}
.searchDrop p:hover{
    cursor: pointer;
    background-color: whitesmoke;
}